@import url("https://fonts.googleapis.com/css?family=Open%20Sans");

@font-face {
  font-family: "Stretch Sans";
  src: url("/fonts/STRRETCHSANS.otf");
}

h1 {
  color: white;
  font-family: "Stretch Sans";
  text-align: center;
  font-size: 45px;
}

h2 {
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  display: inline;
}

h3 {
  color: black;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: left;
  padding-left: 15%;
}

h4 {
  color: black;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: left;
  padding-left: 15%;
}

body {
  text-align: center;
  background-color: #121212;
  display: inline;
}

p {
  color: white;
  font-family: "Open Sans";
  font-size: x-large;
}

a {
  color: white;
  font-family: "Open Sans";

  text-align: center;
}

ul {
  height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-position: inside;
  color: white;
  font-family: "Open Sans";
  width: 100%;
  flex: 1;
  text-decoration: none;
  list-style: none;
}

button,
.button {
  color: #fff !important;
  background: #087cff;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: large;
}

.nav {
  color: #fff !important;
  background: #919191;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: large;
}

.nav:hover {
  background: #696868;
  cursor: pointer;
}

.nav-active {
  background: #000000;
  pointer-events: none;
  cursor: not-allowed;
}

button:hover,
.button:hover {
  background: #0863cc;
  cursor: pointer;
}

select {
  margin: 5px;
  font-size: x-large;
  font-family: "Open Sans";
}

#demo {
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
}

.blue {
  color: #087cff;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
  background-color: #121212;
}

.icon {
  width: 100px;
  padding: 5%;
  align-items: center;
}

.icon:hover {
  transform-origin: center center;
  animation: scale 500ms ease-in-out forwards;
}
@keyframes scale {
  to {
    transform: scale(1.2);
  }
}
