@import url("https://fonts.googleapis.com/css?family=Open%20Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");

h1 {
  color: white;
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  display: inline;
}

h3 {
  color: black;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: left;
  padding-left: 15%;
}

body {
  /* font-family: "Open Sans"; */
  text-align: center;
  background-color: #232021;
  display: inline;
}

p {
  color: white;
  font-family: "Open Sans";
  font-size: x-large;
}

ul {
  text-align: center;
  list-style-position: inside;
  background-color: white;
  box-shadow: black;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  justify-items: center;
  display: table;
  max-width: 50%;
  min-width: 50%;
}

li {
  color: black;
  font-family: "Open Sans";
  font-size: small;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

button {
  color: #fff !important;
  background: #e83151;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: large;
}

button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  font-size: large;
}

select {
  margin: 5px;
  font-size: x-large;
  font-family: "Open Sans";
}

#demo {
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: x-large;
  color: white;
}
